.container {font-family:Verdana, Geneva, Tahoma, sans-serif;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;
}

.intro {
  flex: 1;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.intro h1 {
  font-size: 48px;
  margin-bottom: 10px;
}

.intro h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.intro p {
  font-size: 18px;
  margin-bottom: 10px;
}

.intro button {
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  cursor: pointer;
}

.profile-image img {
  max-width: 95%;
  height: auto;
  border-radius: 20px;
}

.work-history,
.skills,
.education-certifications {
  margin: 40px 0;
}

.work-card,
.education-card,
.certification-card {
  padding: 20px;
  border: 1px solid #eee;
  margin-bottom: 20px;
}

.skills ul {
  list-style-type: none;
  padding: 0;
}

.skills ul li {
  margin-bottom: 10px;
}

footer {
  text-align: center;
  padding: 40px 0;
}

footer h2 {
  font-size: 36px;
  margin-bottom: 10px;
}

footer p {
  font-size: 18px;
  margin-bottom: 20px;
}

footer button {
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  cursor: pointer;
}

.social-links a {
  margin-right: 20px;
  text-decoration: none;
  color: #007BFF;
}
